div{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:auto 5%  !important;
    width: 100%;
}
h1{
    margin:auto 25%  !important;
    width: 100%;
}

  .d{  
      color:blue;
    }
    .center{
        margin:auto 20%  !important;
        width: 100%;
    }
.red{
    color:red;
}
.s{
    margin:auto 5%  !important;
    width: 10%;
}
.e{
    margin:auto 5%  !important;
    width: 10%;
}
.r{
    background-color: gray;
}