<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" dir="rtl">
  <!-- <ion-button  style="position: relative;
  width:50px;
  margin:auto;
  margin-right:20%;
  margin-top:25%;" >ימין</ion-button>
  <ion-button   style="position: relative;
  width:50px;
  margin:auto;
  margin-right:40%;
  margin-top:25%;" >שמאל</ion-button>
   <ion-button  style="position: relative;
   width:50px;
   margin:auto;
   margin-right:20%;
   margin-top:35%;" >2ימין</ion-button>
   <ion-button   style="position: relative;
   width:50px;
   margin:auto;
   margin-left:10%;
   margin-top:35%;" >2שמאל</ion-button>
    <ion-button  style="position: relative;
    width:50px;
    margin:auto;
    margin-right:20%;
    margin-top:45%;" >3ימין</ion-button>
    <ion-button   style="position: relative;
    width:50px;
    margin:auto;
    margin-left:10%;
    margin-top:45%;" >3שמאל</ion-button>
     <ion-button  style="position: relative;
     width:50px;
     margin:auto;
     margin-right:20%;
     margin-top:55%;" >4ימין</ion-button>
     <ion-button   style="position: relative;
     width:50px;
     margin:auto;
     margin-left:10%;
     margin-top:55%;" >4שמאל</ion-button> -->
<!-- <ion-row  style="position: relative;
margin:auto;
margin-left:10%;
margin-top:55%;">
<ion-col style="margin-right:14%" ><ion-button style="width: 42%;">1</ion-button></ion-col>
<ion-col style="margin-left:-20%;"> <ion-button style="width: 42%;">2</ion-button></ion-col>
</ion-row> -->
<!-- <ion-row  style="
position: relative;
margin:auto;
margin-left:10%;
margin-top:0%;">
<ion-col style="margin-right:7%" ><ion-button style="width: 40%;">3</ion-button></ion-col>
<ion-col style="margin-left:-40%;"> <ion-button style="width: 40%;">4</ion-button></ion-col>
</ion-row>
<ion-row  style="
position: relative;
margin:auto;
margin-left:10%;
margin-top:0%;">
<ion-col style="margin-right:7%" ><ion-button style="width: 40%;">3</ion-button></ion-col>
<ion-col style="margin-left:-40%;"> <ion-button style="width: 40%;">4</ion-button></ion-col>
</ion-row>
<ion-row  style="
position: relative;
margin:auto;
margin-left:10%;
margin-top:0%;">
<ion-col style="margin-right:7%" ><ion-button style="width: 40%;">3</ion-button></ion-col>
<ion-col style="margin-left:-40%;"> <ion-button style="width: 40%;">4</ion-button></ion-col>
</ion-row> -->

<a style="font-size: 100px;font-family: heebo;">א&#1464;י&#1464;<a style="font-size: 100px;font-family: heebo;color:red">ל</a>&#1464;ה</a>
<button (click)="aaa()">ggg</button>
</ion-content>

