ion-content {
    --background: #fff url("https://www.stickdecor.co.il/files/products/image1_1697_2016-09-19_10-43-16.jpg") no-repeat center center / cover;
}

#cool-button-div {

    position: relative;
    width:200px;
    margin:auto;
    margin-top:50vh;

}