<ion-header>
  <ion-toolbar>
    <ion-title>get</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <div  id="cool-button-div">

  <ion-button start full class="button button-block button-calm" (click)="goAnOtherPage($event,1)">שחרית</ion-button>
  <ion-button full class="button button-block button-calm" (click)="goAnOtherPage($event,2)">מנחה</ion-button>
  <ion-button full class="button button-block button-calm" (click)="goAnOtherPage($event,3)">ערבית</ion-button>
  <ion-button full class="button button-block button-calm" (click)="goAnOtherPage($event,4)">תהילים</ion-button>
  <ion-button  full class="button button-block button-calm" (click)="goAnOtherPage($event,5)">זמני היום</ion-button>

</div>
  


</ion-content>
